@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* ############# html element############# */
html{
    font-size: 62.5%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.7;
}
ul li{
    list-style: none;
}
a{
    font-size: 2.0rem;
    text-decoration: none;
    padding-bottom: o.3rem;
}
p , li{
    font-size: 1.6rem;
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;
}
h1,h2,h3{
    margin-bottom: o.5em;
    /* letter-spacing: 0.15em; */
    font-weight: 500;
}

/* ############## utility classes ############## */
.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}
.uppercase{
    text-transform: uppercase;
}
.bg-dark{
    background-color: burlywood;
}
.lg-heading{
    font-size: 3.5rem;
}
.md-heading{
    font-size: 2.0rem;
}
.text-red{
    color: burlywood;
}
.text-light{
    color: #f4f4f4;
}
.text-black{
    color: burlywood;
}
.text-gray{
    color: burlywood;
}

/* psuadu classes */
.navbar a:link,
.navbar a:visited{
    color: #f4f4f4;
}
.navbar a:hover{
    border-bottom: 2px solid #ffffff;
}

.navbar .logo{
    float: left;
    margin-top: 1rem;
}
.navbar .nav_items{
    float: right;
    margin-top: 1rem; 
}
/* psuadu emement */
.navbar::after{
    content: " ";
    display: block;
    clear: both;
}
.row::after{
    content: '';
    display: block;
    clear: both;
}
.nav_items a{
    text-decoration: none;
}
.navbar .nav_item{
    display: inline-block;
    padding: 1rem;
    text-transform: uppercase;
}

/* ############ header style ############### */
.header{
    position: relative;
    height: 88vh;  /* 1vh == 10px and 1vw == 14.4px*/
   background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.7)) , url(../img/pexels-karan-sharma-900097.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}
/* ############## header contant ################# */

.header-contant{
    position: absolute;
    text-align: center;
    background: linear-gradient(rgba(0,0,0,0.1) , rgba(0,0,0,0.1));
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.header-contant img{
    display: block;
    width: 230px;
    height: 250px;
    margin: auto;
    border-radius: 50%;
}
.header-contant h1{
    text-transform: uppercase;
    font-weight: 700;
    padding-top:1.5rem ;
}
.header-contant p{
    padding: 1rem 0;
}
.btn{
    display: inline-block;
    text-transform: uppercase;
    padding: 0.5em 1.5em;
    font-weight: 500;
}
.primary-btn{
    background-color: #ffffff;
    border-radius: 200px;
}
.primary-btn:hover{
    background-color: #ddd;
}
.btn-secondary{
    border: 2px solid burlywood;
    border-radius: 1.5em;
}
.btn-secondary:hover{
    background-color: #fcf3f2;
}

/* ############### showcase section style ################ */
.showcase{
    background-color: #ddd;
    padding: 10rem 0;
}
.row{
    height: 350px;
    background-color: #fff;
    box-shadow: 0px 0px 20px 0px hsla(0, 0%, 0%, 0.317);
}
.row1{
     margin-bottom: 10rem;
}
.row1 .img-box , .row2 .text-box{
     width: 50%;
     float: left;
}
.row2 .img-box , .row1 .text-box{
    width: 50%;
    float: right;
}
.img-box{
    height: 350px;
}
.text-box{
    height: 350px;
    padding: 2rem;
    background-color: #ffffff;
}
.img-box img{
    display: inline-block;
    height: 100%;
    width: 100%;
    object-fit: cover;   /* picture ratio will be maintain */
}
.text-box h1 {
    text-transform: uppercase;
}
/* ############ stories style */
.ab-h2{
    padding-top: 1.5rem;
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
}
.ab-p{
    padding: 3rem;
    text-align: center;
    font-size: 2rem;
}
.story-h2{
    font-size: 3.5rem;
    padding: 1.5rem;
    text-align: center;
}
.image-stories img{
    display: block;
    margin: auto;
    height: 500px;
    width: 1280px;
}
.image2 img{
    width: 1300px;
}
.image3 img{
        width: 1300px;
        height: 700px;
}

/* ####### destination area */
.dest-story img{
    display: block;
    margin: auto;
    width: 1150px;
    max-height: 500px;
}
.dest-p{
    padding: 1rem 5rem;
}

/* ########## photo style ####### */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* column-gap: 10px; */
}

.grid-item {
    position: relative;
    /* padding-bottom: 33.33%; Maintain a 1:1 aspect ratio for each grid item */
    overflow: hidden;
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ############## ADD ICONS ################ */
.icon{
    padding-top: 2rem;
}

/* ############# footer style ############### */
.C-footer{
    background-color: burlywood;
    /* height: 150px; */
    padding: 1rem;
    text-align: center;
}
.social-media-link i{
    padding: 1rem;
}


/* ############ Contact Page ################### */
.contact-form{
    padding: 6rem 0rem;
    background-color: burlywood;
}

.form-wrapper::after{
    content: '';
    display: block;
    clear: both;
}
.company-address{
     height: 700px;
}
.form-wrapper .company-address{
    background-color: #fff;
    float: left;
    width: 49%;
    font-size: 1.5rem;
    padding: 1rem;
}
.form-wrapper .company-address i{
    display: inline-block;
    margin-right: 1rem;

}
.form-wrapper .company-address h2{
    display: inline-block;
}
/* ########## insert image into the contact page ############## */
.form-wrapper .company-address .C-image{
    /* display: inline-block; */
   /* max-width: 90%;
   min-height: 4rem; */
   width: 90%;
   max-height: 66%;
   object-fit: cover;
   object-position: right;
   margin-top: 1rem;
}
/* ########## fill the company form or form style ############ */
.form{
    height: 700px;
}
.form-wrapper .form{
    background-color: #fff;
    float: right; 
    width: 49%;
    font-size: 1.5rem;
    padding: 1rem;
}
.form h2{
    border-bottom: 6px solid burlywood;
}
.form p{
    margin-top: 1.5rem;
}
.form label{
    display: block;
    margin-top: 1rem;
}
.form input{
    padding: 0.5rem;
    width: 100%;
    /* margin-top: 2rem; */
}
.form textarea{
    width: 100%;
    height: 250px;
    padding: 0.5rem;
}
.form label::after{
    content: '*';
    color: burlywood;
}
.form-btn{
    display: block;
    margin: 1.5rem auto;
    padding: 0.5rem 3rem;
    font-size: 1.8rem;
    color: #fff;
    background-color: burlywood;
    border: none;
    outline: none;
    cursor: pointer;
}

/* ########## media quries ######### */

@media (max-width: 500px){
    html{
        /* font-size: 5px; */
        font-size: 31.25%;
    }
    .navbar .logo , .navbar .nav_items{
        float: none;
        display: block;
        width: 100%;
        text-align: center;
    }
    .header-contant h1{
        font-weight: 500;
    }

    .row {
        height: auto;
        /* width: 100%; */
    }
    .row .img-box,
    .row .text-box{
        float: none;
        width: 100%;
        text-align: center;
    }
    .row h1{
        font-size: 5rem;
    }
    .row p{
        font-size: 3rem;
        text-align: center;
    }
    .f-row {
        height: auto;
        width: 100%;
        box-shadow: none
    }
    .f-row .f-box{
        float: none;
        width: 100%;
        text-align: center;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.377);
    }
    .f-row .text-box2,
    .f-row .text-box3{
        margin-top: 10%
    }
    .f-row h1{
        font-size: 5rem;
    }
    .f-row p{
        font-size: 2.5rem;
    }
    .f-row i{
        font-size: 5rem;
    }
    .C-footer i{
        font-size: 5rem;
        padding: 2rem;
    }
    .C-footer p{
        font-size: 2rem;
    }
     .cta-banner-left,
     .cta-banner-right{
        float: none;
        width: 100%;
        text-align: center;
     }
     .un-o-list,
     .un-o-list1{
        float: none;
        width: 50%
     }
    .ab-p{
        font-size: 2rem;
    }
     li{
        font-size: 2rem;
    }
    .form-wrapper .company-address{
        float: none;
        width: 100%;
        height: 700px;
        margin-bottom: 10rem;
    }
    .form-wrapper .form{
        float: none;
        width: 100%;
        height: 700px;
    }
   
}

 @media (min-width: 501px) and (max-width: 768px){ 
    html{
        /* font-size: 5px; */
        font-size: 31.25%;
    }
    .navbar .logo , .navbar .nav_items{
        float: none;
        display: block;
        width: 100%;
        text-align: center;
    }
    .header-contant h1{
        font-weight: 500;
    }

    .row {
        height: auto;
         width: 100%; 
    }
    .row .img-box,
    .row .text-box{
        float: none;
        width: 100%;
        text-align: center;
    }
    .row h1{
        font-size: 4rem;
    }
    .row p{
        font-size: 3rem;
    }
    .f-row {
        height: auto;
        width: 100%;
    }
    .f-row .text-box1,
    .f-row .text-box2,
    .f-row .text-box3{
        float: none;
        width: 100%;
        text-align: center;
    }
    .f-row .text-box2,
    .f-row .text-box3{
         margin-top: 10% 
    } 
    .f-row h1{
        font-size: 4rem;
    }
    .f-row p{
        font-size: 3rem;
    }
    .f-row i{
        font-size: 4rem;
    }
    .C-footer i{
        font-size: 3rem;
        padding: 1rem;
    }
    .C-footer p{
        font-size: 1.5rem;
        text-align: center;
    }
    .cta-banner-left,
     .cta-banner-right{
        float: none;
        width: 100%;
        text-align: center;
     }
    .ab-p{
        font-size: 2.5rem;
    }
     li{
        font-size: 2.5rem;
    }

    .form-wrapper .company-address,
    .form-wrapper .form{
         float: none;
         width: 100%;
         height: auto;
}
    .form-wrapper .form{
          margin-top: 10rem;
}
   
} 

@media (min-width: 769px) and (max-width: 1320px){
    html{
        font-size: 7px;
    }
    .row p{
        font-size: 2rem;
    }
    .f-row p{
        font-size: 1.7rem;
    }
}
form {
    margin: 0 auto;
    width: 500px;
  }
  
  fieldset {
    border: 1px solid #ccc;
    padding: 20px;
  }
  
  legend {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  input[type="submit"] {
    background-color: burlywood;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
  }
  
  input[type="submit"]:hover {
    background-color: burlywood;
  }

